# code: language=ansible
---
- name: Install golang based on system
  ansible.builtin.include_tasks:
    file: golang.{{ ansible_facts["system"] | lower }}.yml

- name: Setup go directories
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0770"
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ user_group_id }}"
    state: directory
  loop:
    - "{{ ansible_facts['user_dir'] }}/.go"
    - "{{ ansible_facts['user_dir'] }}/.go/bin"
